html,body {
    height: 100%;
    margin: 0;
    background-color: skyblue;
}

.search-form {
    width: 500px;
    margin: 0 auto;
}
button {
    border-radius: 2px;
	font-family: "sans-serif", Oswald;
	color: blue;
	font-size: 100%;
	padding: 5px 8px;
	border: solid green 3px;
	text-decoration: none;
}
.button:hover {
    color: red;
}