html,body {
    height: 100%;
    margin: 0;
    background-color: skyblue;
    
}
 
 .button:hover {
     color: red;
 }
button {
    border-radius: 6px;
	font-family: "sans-serif", Oswald;
	
	font-size: 100%;
	padding: 2px 3px;
	border: solid green 4px;
	text-decoration: none;
}
