
body {
    background: url("../images/pink dust.png");
    background: black;
}
#starter .jumbotron {
    background: url("../images/top-bg.jpg") no-repeat top center;
    background-size: cover;
    border-bottom: 10px solid #BF0D1D;
    box-shadow: rgba(0,0,0,0.8) 0px 0px 30px;
}
.main-form {
    background: rgba(255,255,255,0.8);
    border-radius: 10px;
    padding-bottom: 2em;
    transition: all 1s ease-in-out;
}
#top_movies_lists {
    padding-bottom: 3em;
}
#top_movies_lists .col-sm-4 .box {
    margin: 20px 0;
    padding: 0px;
    position: relative;
}
.top-10-box {
    background: #BF0D1D;
    color: white;
    transform: rotate(-15deg);
    position: absolute;
    z-index: 9;
    width:40%;
    left: 3px;
    top: -30px;
    padding: 5px 15px;
}
.top-10 {
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 20px;
    position: relative;
    bottom: -5px;
}
.top-10-details {
    position: absolute;
    background: white;
    color: black;
    top: 0px;
    left: 0px;
    width: 100%;
    text-align: right;
    padding: 15px;
}
.top-10-title {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin: 0px;
    padding: 0px;
}
.movie {
    margin: 30px 0px 0px;
}
.movie a {
    display: block;
    color: white;
}
.movie img {
}
.movie a h4 {
    padding: 0px 8px;
    font-size: 14px;
    min-height: 2em;
}
p.small {
    font-size: 13px;
}
#messages {
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 10;
}

.carousel-inner .item .item-box {
    position: relative;
}
.divider {
    border-top: 10px solid #BF0D1D;
}
#footer {
    min-height: 200px;
    padding: 50px 15px;
    color: white;
}
#similiar-movies h2 {
    color: white !important;
}
#animated-containers {
    position: relative;
    min-height: 3em;
}
#animated-containers .animated {
    position: absolute;
    top: 0px;
    width: 100%;
}
.top-z{
    z-index: 10 !important;
}
.bottom-z{
    z-index: 1 !important;
}
#animated-containers .animated:first-of-type {
    z-index: 5;
}

#movie-detail .row.fadeIn {
    background: white;
    border-radius: 5px;
}
#footer {
    margin-top: 5em;
    text-align: center;
    background-color: #111111;
    color: #444;
    text-transform: uppercase;
    font-size: 11px;
    box-shadow: rgba(0,0,0,0.8) inset 0px 0px 30px;
}
#starter.result .jumbotron {
    min-height: 400px;
}
#similiar-title.oops {

}
#similiar-title {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background: #BF0D1D;
    display: inline-block;
    padding: 15px;
    transform: rotate(-6deg);
}








